@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');


html{
    background-color: #add5e2
}
header{
    font-size: 60px;
    font-family: 'Abril Fatface', cursive;
    padding: 5px;
    color: black;

    
}

h1{
    float: left;
    font-size: 35px;
    padding: 25px;
    background-color: rgba(0, 0, 0,0.25);
    
}
p{
    font-size: 20px;
    
    
}
    
        